:root {
  --border-radius: 15px;
  --color-black-trans: hsla(215, 100%, 5%, 0.6);
  --color-black: #000a18;
  --color-blue-dark: #126ff2;
  --color-blue-light: #1bc2f5;
  --color-white-trans: hsla(0, 0%, 100%, 0.5);
  --color-white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background: linear-gradient(
    to top right,
    var(--color-blue-dark),
    var(--color-blue-light)
  );
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.wrapper {
  background-color: var(--color-black);
  border-radius: 55px;
  border: 10px solid var(--color-black);
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 430px;
  min-height: 95vh;
  overflow: hidden;
}

.wrapper > div {
  background: linear-gradient(
    to top right,
    var(--color-blue-dark),
    var(--color-blue-light)
  );
  border-bottom-left-radius: 55px;
  border-bottom-right-radius: 55px;
  padding-block: 2rem 3rem;
}

/* ! Weather Data */

.current-weather {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.current-weather .para {
  font-size: 1.2rem;
  font-weight: 300;
}

.current-weather .temp {
  color: var(--color-white);
  font-size: 6rem;
  font-weight: 500;
  margin-block-start: 2rem;
  text-shadow: 0 0 10px hsla(0, 3%, 15%, 0.5);
}

.current-weather .temp-high-low {
  display: flex;
  font-weight: 500;
  gap: 1rem;
  justify-content: center;
  margin-block: -0.2rem 0.5rem;
}

.current-weather img {
  margin-block-start: -1.5rem;
  width: 150px;
}

.current-weather .city {
  font-size: 2rem;
  margin-block-end: 0.2rem;
}

.current-weather .more-infos {
  background-color: var(--color-black-trans);
  border-radius: var(--border-radius);
  display: flex;
  font-size: 1.2rem;
  gap: 1rem;
  justify-content: space-around;
  margin-block-start: 1rem;
  padding: 1rem;
  width: 80%;
}

.current-weather .more-infos div {
  align-items: center;
  display: flex;
  flex-direction: column;
}

/* ! Weather Forcast Data */

.forcast-weather-days-container {
  cursor: pointer;
  display: flex;
  gap: 1.1rem;
  margin: 0 auto;
  overflow-x: auto; /* Horizontales Scrollen ermöglichen */
  padding-block: 2rem 1rem;
  scrollbar-width: none; /* Breite 0: Scrollleiste ausblenden */
  white-space: nowrap; /* Verhindern, dass <p>-Elemente umgebrochen werden */
  width: 70%;
}

.forcast-weather-single-days-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.forcast-weather-single-days-container p:nth-of-type(1) {
  font-weight: 700;
  margin-block-end: 0.1rem;
}

.forcast-weather-single-days-container p:nth-of-type(3) {
  font-size: 1.1rem;
  font-weight: 600;
}

/* ! Day Pages */
.forcast-details-page {
  display: flex;
  flex-direction: column;
  padding: 0 5%;
  font-size: 1rem;
}

.headerEl {
  display: flex;
  gap: 1rem;
  justify-content: center;
  font-size: 1.8rem;
  margin-block-end: 2rem;
}

.forcastDetailsContainers {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.forcastDetailsContainers img {
  width: 80px;
  margin-inline-end: -1rem;
}

.backBtn {
  all: unset;
  width: 100%;
  display: flex;
  justify-content: center;
  border: 1px solid var(--color-black-trans);
  background-color: var(--color-black-trans);
  border-radius: 55px;
  padding-block: 0.5rem;
  margin-block-start: 2rem;
  cursor: pointer;
}

.backBtn i {
  font-size: 2rem;
}

/* ! Form */
form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

form > div {
  display: flex;
  width: 80%;
}

form input[type='text'] {
  background-color: var(--color-black-trans);
  border-radius: var(--border-radius);
  border: 2px solid var(--color-white-trans);
  color: var(--color-white);
  font-size: 1.2rem;
  margin-block-start: 1rem;
  margin-block-end: 0.5rem;
  outline: none;
  padding: 0.7rem 0.5rem;
  transition: 0.5s;
  width: 100%;
  cursor: pointer;
}

form input[type='text']:focus {
  margin-block-start: 0.7rem;
  padding: 1rem;
}

form input[type='text']::placeholder {
  color: var(--color-white);
  text-align: center;
}

.input-container {
  position: relative;
}

.input-reset-btn {
  all: unset;
  position: absolute;
  right: 1rem;
  top: 1.8rem;
  cursor: pointer;
  display: none;
}

.input-reset-btn.show {
  display: inline-block;
}

.fa-solid {
  color: var(--color-white);
  font-size: 1.5rem;
}

form select {
  background-color: var(--color-black);
  border-radius: var(--border-radius);
  border: none;
  color: var(--color-white);
  font-size: 1.1rem;
  height: 0;
  margin-block-end: 1rem;
  outline: none;
  padding-inline: 0.5rem;
  transition: all 0.5s;
  width: 80%;
}

form select.show {
  border: 1px solid var(--color-white-trans);
  transition: 1s;
}

form select option {
  margin-block: 0.5rem;
  cursor: pointer;
}

form select.show {
  display: flex;
  flex-direction: column;
  height: 160px;
}
