:root {
  --color-horizon: hsl(213, 32%, 52%);
  --color-glazier: hsl(210, 34%, 63%);
  --color-white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-glazier);
  color: var(--color-white);
  padding-block: 3rem;
}

/* ! Weather Data */

.current-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current-weather .para {
  font-size: 1.2rem;
  font-weight: 300;
}

.current-weather .temp {
  font-size: 5rem;
  font-weight: 500;
  margin-block-start: 2rem;
  color: var(--color-white);
  text-shadow: 0 0 10px hsla(0, 3%, 15%, 0.5);
}

.current-weather .temp-high-low {
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-weight: 500;
  margin-block: -0.2rem 0.5rem;
}

.current-weather img {
  width: 150px;
  margin-block-start: -1.5rem;
}

.current-weather .city {
  font-size: 2rem;
  margin-block-end: 0.2rem;
}

.current-weather .more-infos {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
  background-color: var(--color-horizon);
  padding: 1rem;
  border-radius: 15px;
  width: 70%;
  justify-content: space-around;
  margin-block-start: 1rem;
}

.current-weather .more-infos div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ! Form */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form > div {
  display: flex;
  width: 70%;
}

form input[type='text'] {
  margin-block-start: 2rem;
  padding: 0.7rem 0.5rem;
  width: 100%;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  outline: none;
  transition: 0.5s;
}

form input[type='text']:focus {
  margin-block-start: 1.5rem;
  padding: 1.2rem 1rem;
  width: 110%;
}

form input[type='text']::placeholder {
  text-align: center;
}

form select {
  font-size: 1rem;
  width: 70%;
  border: none;
  border-radius: 5px;
  padding-inline: 0.5rem;
}

form select option {
  margin-block: 0.5rem;
}

#city-options {
  height: 0;
  transition: all 0.5s;
  outline: none;
}

#city-options.show {
  display: flex;
  flex-direction: column;
  height: 145px;
}

/* ! Weather Forcast Data */

.forcast-weather-days-container {
  display: flex;
  margin: 0 auto;
  gap: 1.5rem;
  padding-block: 2rem 1rem;
  width: 70%;
  cursor: pointer;
  overflow-x: auto; /* Horizontales Scrollen ermöglichen */
  white-space: nowrap; /* Verhindern, dass <p>-Elemente umgebrochen werden */
  scrollbar-width: none; /* Breite 0: Scrollleiste ausblenden */
}

.forcast-weather-single-days-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.forcast-weather-single-days-container p:nth-of-type(1) {
  font-weight: 700;
  margin-block-end: 0.1rem;
}

.forcast-weather-single-days-container p:nth-of-type(3) {
  font-weight: 600;
  font-size: 1.1rem;
}
