:root {
  --color-horizon: hsl(213, 32%, 52%);
  --color-glazier: hsl(210, 34%, 63%);
  --color-white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-glazier);
  color: var(--color-white);
  padding-block-start: 2rem;
}

.current-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current-weather .para {
  font-size: 1.2rem;
  font-weight: 300;
}

.current-weather .temp {
  font-size: 5rem;
  font-weight: 500;
  margin-block-start: 2rem;
}

.current-weather .city {
  font-size: 2rem;
  margin-block-end: 0.2rem;
}

.current-weather .more-infos {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
  background-color: var(--color-horizon);
  padding: 1rem;
  border-radius: 15px;
  width: 70%;
  justify-content: space-around;
  margin-block-start: 1rem;
}

.current-weather .more-infos div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ! Form */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-start: 2rem;
}

form > div {
  display: flex;
  width: 70%;
}

form input[type='text'] {
  padding: 0.5rem;
  width: 100%;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
}

form select {
  font-size: 1.2rem;
  width: 70%;
  height: 170px;
  border: none;
  border-radius: 5px;
  padding-inline: 0.5rem;
}

form select option {
  margin-block: 0.5rem;
}

#city-options {
  display: none;
}

#city-options.show {
  display: flex;
  flex-direction: column;
}
